<div class="card card-block route-form">
    <form #loginForm="ngForm"  [formGroup]=loginFormGroup (ngSubmit)="onSubmit(loginForm)">
      <div [ngClass]="styleClass">
        <div class="form-group">
          <input type="text" class="form-control inputBgOpaque" placeholder="Enter User ID required [(ngModel)]="model.username" formControlName="username"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control inputBgOpaque" placeholder="Enter Password" required [(ngModel)]="model.password" formControlName="password"/>
        </div>
     </div>  
     <button [disabled]="loginFormGroup.invalid && styleClass === 'showMe'" class="btn map-btn">Login</button>
    </form>
  </div>