<div class="content" role="main">
    <!-- <mat-card-title>	Card title
      <mat-card-subtitle>	Card subtitle
      <mat-card-content>	Primary card content. Intended for blocks of text
      <img mat-card-image>	Card image. Stretches the image to the container width
      <mat-card-actions>	Container for buttons at the bottom of the card
      <mat-card-footer> -->
    <div class="card-container">
      <mat-card>
        <mat-card-title>Google Directions App
          <a class="mat-raised-button" color="primary" href="http://www.nerdbuffet.com/directions/app/index.html" target="_blank">View</a>
        </mat-card-title>
        <mat-card-content>
          A simple Google Maps application 
          written in Angular 4 (upgrade coming 
          soon).  Type in start and end addresses 
          for directions and a map of your route. 
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer >
          <img src="../assets/angular.png"/>
          <img src="../assets/google_maps.png"/>
        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>Nerd Notes
          <a class="mat-raised-button" color="primary" href="http://www.nerdbuffet.com/core-react/index.html" target="_blank">View</a>
        </mat-card-title>
      <mat-card-content>
        Front end: written with React 16.2 and Material-UI 4.8.2<br>
        Back end: spring-boot API running in the Google Cloud. Click<br>
        'Login' to use the default sample user ('ht5').
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
      <mat-card-footer >
        <img src="../assets/react.png"/>
        <img src="../assets/spring-boot.png"/>
        <img src="../assets/react-material.png"/>
      </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>GitHub Repos
          <a class="mat-raised-button" color="primary" href="https://github.com/htovey?tab=repositories" target="_blank">View</a>
        </mat-card-title>
        <mat-card-content>
          Check out the source code for these and other projects.
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer>
          <img src="../assets/github.png"/>
        </mat-card-footer>
      </mat-card>
    </div>
    </div>